{
	"semi": false,
	"printWidth": 9999,
	"tabWidth": 4,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": "*.njk",
			"options": {
				"parser": "jinja-template"
			}
		},
		{
			"files": "*.toml",
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
